<header class="header">
  <a href="#" class="logo">
    <img src="./img/logo.png" alt="BrainWars" class="logo__img">
  </a>
  <nav class="menu">
    <div class="burger" id="burger">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul class="menu__list">
      <li class="menu__item"><a href="#/game-list" class="menu__link">Game list</a></li>
      <li class="menu__item"><a href="#/statistic" class="menu__link">Statistic</a></li>
      <li class="menu__item"><a href="#/profile" class="menu__link">
        <svg class="menu__icon" width="28" height="28" viewBox="0 0 28 28" fill="none"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M14 0C6.28053 0 0 6.28053 0 14C0 21.7195 6.28053 28 14 28C21.7195 28 28 21.7195 28 14C28 6.28053 21.7195 0 14 0ZM14 4.08335C17.6988 4.08335 20.7084 7.09286 20.7084 10.7917C20.7084 14.4905 17.6988 17.5 14 17.5C10.3012 17.5 7.29165 14.4905 7.29165 10.7916C7.29165 7.0928 10.3012 4.08335 14 4.08335ZM14 25.6666C10.1879 25.6666 6.8075 23.8207 4.67726 20.9846C7.0111 19.8616 10.344 18.6666 14 18.6666C17.6562 18.6666 20.9894 19.8618 23.3228 20.9845C21.1926 23.8206 17.8122 25.6666 14 25.6666Z"
                fill="#F9F9F9"/>
        </svg><span class="menu__mobile-text">Profile</span>
      </a></li>
    </ul>
  </nav>

  <nav class="burger__menu" id="burger__menu">
    <a href="#/profile" class="menu__link">Profile</a>
    <a href="#/game-list" class="menu__link">Game list</a>
    <a href="#/statistic" class="menu__link">Statistic</a>
  </nav>
  <div class="burger__overlay" id="burger__overlay"></div>
</header>
