<header class="header">
  <a href="#" title="Main page (Esc)" class="logo">
    <img src="./img/logo.png" alt="BrainWars" class="logo__img">
  </a>
  <nav class="menu">
    <div class="menu__burger-button" title="Menu (F10)">
      <span class="menu__burger-button-line"></span>
      <span class="menu__burger-button-line"></span>
      <span class="menu__burger-button-line"></span>
      <span class="menu__burger-button-line"></span>
    </div>
    <ul class="menu__list">
      <li class="menu__list-item"><a href="#/game-list" title="Game list (z)" class="menu__list-item-link">Game list</a></li>
      <li class="menu__list-item"><a href="#/statistic" title="Statistic (x)" class="menu__list-item-link">Statistic</a></li>
      <li class="menu__list-item"><a href="#/profile" title="Profile (c)" class="menu__list-item-link"><img class="menu__list-item-link-icon" src="./img/person.svg" alt="person"></a></li>
    </ul>
  </nav>
  <ul class="menu__burger-list">
    <li class="menu__burger-list-item"><a href="#/game-list" title="Game list (z)" class="menu__burger-list-item-link menu__list-item-link">Game list</a></li>
    <li class="menu__burger-list-item"><a href="#/statistic" title="Statistic (x)" class="menu__burger-list-item-link menu__list-item-link">Statistic</a></li>
    <li class="menu__burger-list-item"><a href="#/profile" title="Profile (c)" class="menu__burger-list-item-link menu__list-item-link">Profile</a></li>
  </ul>
</header>
