@import "../../../../assets/scss/abstarcts/variables";

.matrix-memory-container {
  .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-grey-light;
      opacity: 0.8;
  }
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  transition: 0.5s;
  &__main {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 40%;
      .matrix-memory-game-button {
          width: 2.6rem;
          height: 2.6rem;
          margin: 0.1rem;
          background-color: $color-white;
          border: 1px solid $color-black;
          animation: comeOut 1s;
          transition-duration: 0.6s;
          border-radius: 0.8rem;
          outline: none;
          &.color-block {
            background-color: $color-pink-dark !important;
            transition: 0.4s;
            pointer-events: none;
          }
          &:hover {
              cursor: pointer ;
              box-shadow: 0 0 5px $color-black;
          }
      }
  }
}

.active {
  transition: .5s;
}

.hide {
  display: none;
}
.no-clicks {
  pointer-events: none;
}

.game-stats-star {
  width: 40px;
  height: 40px;
}
