.whackAMole {
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;

  & .hole {
    width: 95px;
    overflow: hidden;
    position: relative;
    height: 90px;

    &:after {
      display: block;
      background: url(../assets/img/dirt.svg) bottom center no-repeat;
      background-size: contain;
      content: '';
      width: 100%;
      height: 70px;
      position: absolute;
      bottom: -8px;
      z-index: 2;
    }
  }

  & .mole {
    background: url('../assets/img/mole.svg') bottom center no-repeat;
    background-size: 60%;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    z-index: 5;
  }

  .hole.up .mole {
    top: 0;
  }
}
