@import "../../../../../../assets/scss/abstarcts/variables";
@import "../../../../../../assets/scss/abstarcts/mixins";

.footer {
  background-color: $color-violet-black;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .page-welcome &,
  .page-sign-in &,
  .page-sign-up & {
    background-color: $color-violet-dark;
  }

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.copyright {
  display: flex;
  flex-direction: column;

  & span {
    @include fontSettings(12px, 500);
    color: $color-white-1;
  }

  @media (max-width: 600px) {
    margin-bottom: 15px;
    align-items: center;
  }
}

.rs-logo {
  margin-bottom: 14px;
}

.authors {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.authors__link {
  @include fontSettings(11px, normal);
  line-height: 13px;
  text-decoration-line: underline;
  color: $color-white-1;
  transition-duration: 300ms;

  svg path {
    fill: $color-white-1;
    transition-duration: 300ms;
  }

  &:hover {
    color: $color-beige;
    svg path {
      fill: $color-beige;
      transition-duration: 300ms;
    }
  }
}

.authors__item {
  margin-bottom: 7px;

  &:last-child {
    margin-bottom: 0;
  }
}

.authors__link {
  display: flex;
  align-items: center;
}

.authots__name {
  margin-right: 5px;
}
