*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 20px 0;
  padding: 5px;
}

.memory__grid {
  max-width: 320px;
  margin: 0 auto 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .card {
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
    margin: 3px;
    height: 65px;
    width: 65px;

    .face,
    .back {
      height: 65px;
      width: 65px;
      position: absolute;
      backface-visibility: hidden;
    }

    .back {
      z-index: 2;
      background: #FAB942 url('../img/question.gif') no-repeat center center / contain;
    }

    .face {
      transform: rotateY(180deg);
      background-color: transparent;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .selected {
      transform: rotateY(180deg);
    }

    .match .back {
      background: transparent;
    }
  }
}

.memory__panel {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
