#memory-game {
  max-width: 320px;
  margin: 0 auto 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  transition: 0.4s;
  .card {
    position: relative;
    transition: all .25s linear;
    transform-style: preserve-3d;
    margin: 1px;
    height: 65px;
    width: 65px;
    &:hover {
      cursor: pointer;
    }

    .face,
    .back {
      height: 65px;
      width: 65px;
      position: absolute;
      backface-visibility: hidden;
    }

    .back {
      z-index: 2;
      background: url('../assets/img/question.png') no-repeat center center / contain;
    }

    .face {
      transform: rotateY(180deg);
      background-color: transparent;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &.selected {
      transform: rotateY(180deg);
    }

    &.match {
      pointer-events: none;

      .back {
        background: transparent;
      }
    }
  }
}
