.background-stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  user-select: none;

  .page-welcome & {
    display: none;
  }

  @media (max-width: 500px) {
    & {
      display: none;
    }
  }

  &__block {
    position: absolute;
    display: flex;

    &-top-left {
      top: 0;
      left: 0;
    }

    &-top-right {
      top: 0;
      right: -40px;
    }

    &-bottom-left {
      bottom: 0;
      left: 0;
    }
  }
}
