.game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    width: 100%;
    height: 22rem;
    margin: 0 auto;
    border: 1px solid black;
    background-color: #FDFDFD;
    .game-field {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;;
        width: 56%;
        height: 88%;

        .active {
          .number-question {
            color: black !important;
          }
          .char-question {
            color: black !important;
          }
        }
        .number-question-block {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 50%;
            .number-question {
                text-transform: uppercase;
                font: bold normal 1.5rem/110% Acrom, sans-serif;
                color: gray;
            }
            .number-block-content {
                width: 20%;
                height: 40px;
                text-align: center;
                .number-first-content-item {
                  color: #ffbd59;
                    font: normal normal 2rem/110% Acrom, sans-serif;
                }
                .number-second-content-item {
                  color: #ffbd59;
                    font: normal normal 2rem/110% Acrom, sans-serif;
                }
            }
        }
        .divider {
            width: 80%;
            border: 1px solid#ffbd59;
        }
        .char-question-block {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 50%;
            .char-question {
                text-transform: uppercase;
                font: bold normal 1.5rem/110% Acrom, sans-serif;
                color: gray;
            }

            .char-block-content {
                width: 20%;
                height: 40px;
                text-align: center;
                .char-first-content-item {
                  color: #ffbd59;
                    font: normal normal 2rem/110% Acrom, sans-serif;
                }
                .char-second-content-item {
                  color: #ffbd59;
                    font: normal normal 2rem/110% Acrom, sans-serif;
                }
            }
        }

    }
    .button-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 70%;
        height: 15%;
        &.no-clicks {
          pointer-events: none;
        }
        & > button {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-around;
            width: 30%;
            height: 90%;
            outline: none;
            border-radius: 10px;
            border: none;
            font: bold normal 1rem/110% Acrom, sans-serif;
            background-color: #ffbd59;
            &:hover {
                cursor: pointer;
                transition: 0.4s;
                transform: scale(1.03);
            }
        }
        .yes-answer {
            flex-direction: row;
        }
    }
}


