<main class="main">
  <h2 class="game-title"></h2>
  <div class="game-status">
    <div class="game-status__item">
      <h3 class="game-status__title">Game time:</h3>
      <span class="game-status__state game-status__state-time"></span>
    </div>
    <div class="game-status__item">
      <h3 class="game-status__title">Score:</h3>
      <span class="game-status__state game-status__state-score"></span>
    </div>
    <div class="game-status__item game-status__item-stats"></div>
  </div>
  <div class="game-box">

  </div>
  <button class="button game-finish" type="button">Finish</button>

  <template id="game-stats-star">
    <img src="../../assets/img/heart.svg" width="30" height="30" alt="star" class="game-status_custom">
  </template>
</main>
