<main class="main">
    <div class="games">
        <div class="games__item games__item_recommended">
            <div class="games__img-frame">
                <img src="../img/colors.png" alt="game" class="games__img">
            </div>
            <div class="games__info">
                <h2 class="games__title">Colors</h2>
                <div class="games__desc">
                    <p class="games__p">This is a great game to keep your mind sharp and slow down the effect of
                        Alzheimer's disease. This is a brain test that uses colors and mind tricks to force you to
                        concentrate and give the correct answer within four seconds. It is a great test. Keep trying
                        until you get 100%. If you like this game. This is a brain test that uses colors and mind
                        tricks to force you to
                        concentrate and give the correct answer within four seconds. It is a great test. Keep trying
                        until you get 100%. If you like this game. This is a brain test that uses colors and mind
                        tricks to force you to
                        concentrate and give the correct answer within four seconds. It is a great test. Keep trying
                        until you get 100%. If you like this game. </p>
                </div>
                <button class="games__button button" type="button">Start</button>
            </div>
        </div>
        <ul class="games__list">
            <li class="games__item">
                <div class="games__img-frame">
                    <img src="../img/colors.png" alt="game" class="games__img">
                </div>
                <div class="games__info">
                    <h2 class="games__title">Colors</h2>
                    <div class="games__desc">
                        <p class="games__p">This is a great game to keep your mind sharp and slow down the effect of
                            Alzheimer's disease. This is a brain test that uses colors and mind tricks to force you
                            to
                            concentrate and give the correct answer within four seconds. It is a great test. Keep
                            trying
                            until you get 100%. If you like this game. This is a brain test that uses colors and
                            mind tricks to force you to
                            concentrate and give the correct answer within four seconds. It is a great test. Keep
                            trying
                            until you get 100%. If you like this game. This is a brain test that uses colors and
                            mind tricks to force you to
                            concentrate and give the correct answer within four seconds. It is a great test. Keep
                            trying
                            until you get 100%. If you like this game. </p>
                    </div>
                    <button class="games__button button" type="button">Start</button>
                </div>
            </li>
            <li class="games__item">
                <div class="games__img-frame">
                    <img src="../img/colors.png" alt="game" class="games__img">
                </div>
                <div class="games__info">
                    <h2 class="games__title">Colors</h2>
                    <div class="games__desc">
                        <p class="games__p">This is a great game to keep your mind sharp and slow down the effect of
                            Alzheimer's disease. This is a brain test that uses colors and mind tricks to force you
                            to
                            concentrate and give the correct answer within four seconds. It is a great test. Keep
                            trying
                            until you get 100%. If you like this game. This is a brain test that uses colors and
                            mind tricks to force you to
                            concentrate and give the correct answer within four seconds. It is a great test. Keep
                            trying
                            until you get 100%. If you like this game. This is a brain test that uses colors and
                            mind tricks to force you to
                            concentrate and give the correct answer within four seconds. It is a great test. Keep
                            trying
                            until you get 100%. If you like this game. </p>
                    </div>
                    <button class="games__button button" type="button">Start</button>
                </div>
            </li>
            <li class="games__item">
                <div class="games__img-frame">
                    <img src="../img/colors.png" alt="game" class="games__img">
                </div>
                <div class="games__info">
                    <h2 class="games__title">Colors</h2>
                    <div class="games__desc">
                        <p class="games__p">This is a great game to keep your mind sharp and slow down the effect of
                            Alzheimer's disease. This is a brain test that uses colors and mind tricks to force you
                            to
                            concentrate and give the correct answer within four seconds. It is a great test. Keep
                            trying
                            until you get 100%. If you like this game. This is a brain test that uses colors and
                            mind tricks to force you to
                            concentrate and give the correct answer within four seconds. It is a great test. Keep
                            trying
                            until you get 100%. If you like this game. This is a brain test that uses colors and
                            mind tricks to force you to
                            concentrate and give the correct answer within four seconds. It is a great test. Keep
                            trying
                            until you get 100%. If you like this game. </p>
                    </div>
                    <button class="games__button button" type="button">Start</button>
                </div>
            </li>
        </ul>
    </div>
</main>
