<main class="main">
    <div class="transparent-wrapper profile">
        <h2 class="profile__title">Profile</h2>
        <div class="profile__box">
            <p class="profile__row">Nickname: <span class="profile__nickname">SuperPlayer</span></p>
            <p class="profile__row">Date of Registration: <span class="profile__date">12.01.2020</span></p>
            <button class="button button-exit" type="button">Exit</button>
        </div>
        <div class="profile__box">
            <h3 class="profile__subtitle">Sound effects</h3>
            <p class="profile__row"><span class="sound-status sound-on">On</span> / <span
                    class="sound-status sound-off">Off</span></p>
        </div>
        <div class="profile__box">
            <h3 class="profile__subtitle">Change theme</h3>
            <p class="profile__row"><span class="theme-status theme-status_dark">Dark</span> / <span
                    class="theme-status theme-status_light">Light</span></p>
        </div>
        <div class="profile__box">
            <h3 class="profile__subtitle">Change password</h3>
            <form action="/" class="profile__change-password" id="form1">
                <div class="form__field">
                    <input type="password" class="form__input" name="password" minlength = '8' maxlength = '64' required placeholder="New password...">
                    <p class="form__error"></p>
                </div>
                <div class="form__field">
                    <input class="form__input" type="password" minlength = '8' maxlength = '64' name="passwordCheck" required placeholder="Repeat password...">
                    <p class="form__error form-errors-block"></p>
                </div>
                <button class="button button-save-password" type="submit">Save</button>
            </form>
        </div>
        <div class="profile__box">
            <h3 class="profile__subtitle">Change your nickname</h3>
            <form action="/" class="profile__change-password" id="changeNickname">
                <div class="form__field">
                    <input type="text" name="nickname" class="form__input" placeholder="New nickname...">
                    <p class="form__error"></p>
                </div>
                <button class="button button-save-nickname" type="submit">Save</button>
            </form>
        </div>
    </div>
</main>
