<main class="main">
    <div class="transparent-wrapper statistic">
        <h2 class="statistic__title">Statistic</h2>
        <table class="statistic__table">
            <tr>
                <th>Game</th>
                <th></th>
                <th>Overall score</th>
                <th>The best score</th>
            </tr>
            <tr>
                <td><img src="../img/chars-and-numbers.png" alt="chars-and-numbers" class="statistic__img"></td>
                <td>Chars And Numbers</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td><img src="../img/count-sheep.png" alt="count-sheep" class="statistic__img"></td>
                <td>Count Sheep</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td><img src="../img/matrix-memory.png" alt="matrix-memory" class="statistic__img"></td>
                <td>Matrix Memory</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td><img src="../img/memory-game.png" alt="memory-game" class="statistic__img"></td>
                <td>Memory Game</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td><img src="../img/whack-a-mole.png" alt="whack-a-mole" class="statistic__img"></td>
                <td>Whack-A-Mole</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </table>
    </div>
</main>
