<main class="main">
    <div class="transparent-wrapper statistic">
        <h2 class="statistic__title">Statistic</h2>
        <table class="statistic__table">
            <tr>
                <th>Game</th>
                <th>Overall score</th>
                <th>The best score</th>
            </tr>
            <tr>
                <td>Colors</td>
                <td>237</td>
                <td>80</td>
            </tr>
            <tr>
                <td>Memory Matrix</td>
                <td>345676</td>
                <td>567</td>
            </tr>
            <tr>
                <td>Colors</td>
                <td>237</td>
                <td>80</td>
            </tr>
            <tr>
                <td>Memory Matrix</td>
                <td>345676</td>
                <td>567</td>
            </tr>
        </table>
        <h2 class="statistic__title">Achievements</h2>
        <ul class="achievements">
            <li class="achievements__item active">
                <img src="../img/achievement.png" alt="achievement" class="achievements__img">
                <h3 class="achievements__title">Super player</h3>
            </li>
            <li class="achievements__item active">
                <img src="../img/achievement.png" alt="achievement" class="achievements__img">
                <h3 class="achievements__title">Super player</h3>
            </li>
            <li class="achievements__item">
                <img src="../img/achievement.png" alt="achievement" class="achievements__img">
                <h3 class="achievements__title">Super player</h3>
            </li>
            <li class="achievements__item">
                <img src="../img/achievement.png" alt="achievement" class="achievements__img">
                <h3 class="achievements__title">Super player</h3>
            </li>
            <li class="achievements__item">
                <img src="../img/achievement.png" alt="achievement" class="achievements__img">
                <h3 class="achievements__title">Super player</h3>
            </li>
            <li class="achievements__item">
                <img src="../img/achievement.png" alt="achievement" class="achievements__img">
                <h3 class="achievements__title">Super player</h3>
            </li>
            <li class="achievements__item">
                <img src="../img/achievement.png" alt="achievement" class="achievements__img">
                <h3 class="achievements__title">Super player</h3>
            </li>
            <li class="achievements__item">
                <img src="../img/achievement.png" alt="achievement" class="achievements__img">
                <h3 class="achievements__title">Super player</h3>
            </li>
            <li class="achievements__item">
                <img src="../img/achievement.png" alt="achievement" class="achievements__img">
                <h3 class="achievements__title">Super player</h3>
            </li>
            <li class="achievements__item">
                <img src="../img/achievement.png" alt="achievement" class="achievements__img">
                <h3 class="achievements__title">Super player</h3>
            </li>
            <li class="achievements__item">
                <img src="../img/achievement.png" alt="achievement" class="achievements__img">
                <h3 class="achievements__title">Super player</h3>
            </li>
        </ul>
    </div>
</main>
