<main class="main">
    <div class="transparent-wrapper statistic">
        <h2 class="statistic__title">Statistic</h2>
        <table class="statistic__table">
            <tr>
                <th>Game</th>
                <th></th>
                <th>Overall score</th>
                <th>The best score</th>
            </tr>
            <tr name="chars-and-numbers">
                <td><img src="../img/chars-and-numbers.png" alt="chars-and-numbers" class="statistic__img"></td>
                <td class="game-name">Chars And Numbers</td>
                <td class="game-score">0</td>
                <td class="game-score">0</td>
            </tr>
            <tr name="count-sheep">
                <td><img src="../img/count-sheep.png" alt="count-sheep" class="statistic__img"></td>
                <td class="game-name">Count Sheep</td>
                <td class="game-score">0</td>
                <td class="game-score">0</td>
            </tr>
            <tr name="matrix-memory">
                <td><img src="../img/matrix-memory.png" alt="matrix-memory" class="statistic__img"></td>
                <td class="game-name">Matrix Memory</td>
                <td class="game-score">0</td>
                <td class="game-score">0</td>
            </tr>
            <tr name="memory-game">
                <td><img src="../img/memory-game.png" alt="memory-game" class="statistic__img"></td>
                <td class="game-name">Memory Game</td>
                <td class="game-score">0</td>
                <td class="game-score">0</td>
            </tr>
            <tr name="whack-a-mole">
                <td><img src="../img/whack-a-mole.png" alt="whack-a-mole" class="statistic__img"></td>
                <td class="game-name">Whack-A-Mole</td>
                <td class="game-score">0</td>
                <td class="game-score">0</td>
            </tr>
        </table>
    </div>
</main>
