<div class="modal modal-finish-game">
  <div class="modal__block">
    <div class="modal__block-header">
      <button class="modal__block-header-button button-close" type="button">
        <img src="../img/close.svg" alt="Close" height="40" width="40">
      </button>
    </div>
    <div class="modal__block-content">
      <div class="modal__block-content-line">
        <h3 class="modal__block-content-line-header text-title"></h3>
      </div>
      <div class="modal__block-content-line modal__block-content-line--high">
        <h3 class="modal__block-content-line-header">Score:</h3>
        <span class="modal__block-content-line-text text-score"></span>
      </div>
      <div class="modal__block-content-line modal__block-content-line--high">
        <h3 class="modal__block-content-line-header">Achievements:</h3>
        <span class="modal__block-content-line-text text-achievements"></span>
      </div>
    </div>
    <div class="modal__block-button-group">
      <button class="button button-restart" type="button">Restart</button>
      <button class="button button-quit button-empty" type="button">Quit</button>
    </div>
  </div>
  <div class="modal__background"></div>
</div>
