<div class="modal">
  <div class="modal__block">
    <div class="modal__block-header">
      <button class="modal__block-header-button button-close" type="button">
        <img src="../img/close.svg" alt="Close" height="40" width="40">
      </button>
    </div>
    <div class="modal__block-content">
      <div class="modal__block-content-line">
        <h3 class="modal__block-content-line-header text-title"></h3>
        <p class="modal__block-content-line-text text-description"></p>
      </div>
      <div class="modal__block-content-line">
        <h4 class="modal__block-content-line-header">Rules</h4>
        <p class="modal__block-content-line-text text-rule"></p>
      </div>
    </div>
    <div class="modal__block-button-group">
      <button class="button button-play game-restart" type="button">Play</button>
    </div>
  </div>
  <div class="modal__background"></div>
</div>
