<div class="modal modal-hot-keys">
  <div class="modal__block">
    <div class="modal__block-header">
      <button class="modal__block-header-button button-close" type="button">
        <img src="../img/close.svg" alt="Close" height="40" width="40">
      </button>
    </div>
    <div class="modal__block-content">
      <div class="modal__block-content-line">
        <h3 class="modal__block-content-line-header text-title" data-lang="modals__hot-keys-title"></h3>
        <p class="modal__block-content-line-text text-description" data-lang="modals__hot-keys-description"></p>
      </div>
    </div>
  </div>
  <div class="modal__background"></div>
</div>
