.game-title {
  @include fontSettings(36px, bold);
  line-height: 43px;
  letter-spacing: 0.015em;
  text-transform: capitalize;
  margin-top: 40px;
  text-align: center;
  margin-bottom: 11px;
  @media (max-width: 500px) {
    font-size: 24px;
  }
}

.game-status {
  margin-bottom: 20px;
}

.game-status__item {
  margin-bottom: 12px;

  &:last-child {
    display: inline-block;
    width: 100%;
    height: 30px;
    margin-bottom: 0;

    img {
      @media (max-width: 500px) {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.game-status__title {
  @include fontSettings(16px, normal);
  line-height: 19px;
  display: inline-block;
  margin-right: 6px;
}

.game-status__state {
  font-family: monospace;
  font-size: 16px;
  line-height: 21px;
}

.game-box {
  display: flex;
  align-items: center;
  max-width: 800px;
  min-height: 350px;
  margin: auto auto 40px;
  background: rgba($color-violet-dark, 0.24);
  backdrop-filter: blur(3px);
  border-radius: 10px;
}

.game-finish {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 74px;
}
