.games {
  margin-top: 40px;
  margin-bottom: 100px;
}

.games__item {
  background: $color-white-2;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba($color-grey-1, 0.2);
  display: flex;
  padding: 20px 50px 25px 20px;

  @media (max-width: 500px) {
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 25px 20px;
  }

  &_recommended {
    margin-bottom: 25px;
    @media (max-width: 960px) {
      border: 5px solid $color-violet-dark;
      box-shadow: 0 0 10px rgba($color-violet-dark, 0.69);
    }
  }
}

.games__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
  @media (max-width: 960px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.games__img-frame {
  width: 162px;
  height: 167px;
  margin-right: 20px;
  @media (max-width: 500px) {
    margin-bottom: 20px;
  }
}

.games__item_recommended .games__img-frame {
  width: 245px;
  height: 225px;
  margin-right: 30px;
  @media (max-width: 960px) {
    width: 162px;
    height: 167px;
    margin-right: 20px;
  }
}

.games__img {
  width: 162px;
  height: 167px;
  object-fit: contain;
  object-position: bottom;
}

.games__item_recommended .games__img{
  width: 245px;
  height: 225px;
  @media (max-width: 960px) {
    width: 162px;
    height: 167px;
    object-fit: contain;
    object-position: bottom;
  }
}

.games__info {
  @media (max-width: 500px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.games__title {
  @include fontSettings(28px, 500);
  line-height: 135%;
  text-transform: capitalize;
  color: $color-violet-dark;
  margin-bottom: 15px;
}

.games__item_recommended .games__title{
  font-size: 36px;
  @media (max-width: 960px) {
    font-size: 28px;
  }
}

.games__p {
  @include fontSettings(14px, normal);
  line-height: 135%;
  color: $color-grey;
}

.games__item_recommended .games__p{
  font-size: 18px;
  @media (max-width: 960px) {
    font-size: 14px;
  }
}

.games__desc {
  margin-bottom: 25px;
  max-height: 55px;
  overflow: hidden;

  @media (max-width: 500px) {
    text-align: center;
  }
}

.games__item_recommended .games__desc{
  max-height: 100px;
  @media (max-width: 960px) {
    max-height: 55px;
  }
}
