.transparent-wrapper {
  backdrop-filter: blur(3px);
  border-radius: 10px;
  margin: 40px auto 90px;
  padding: 45px 43px 73px;
  @media (max-width: 500px) {
    padding: 20px 15px 73px;
  }
}

.profile__title {
  font-family: Acrom, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.015em;
  margin-bottom: 30px;
  @media (max-width: 670px) {
    font-size: 22px;
  }
}

.profile__box {
  margin-bottom: 30px;
}

.profile__row {
  font-family: Acrom, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.015em;
  margin-bottom: 20px;

  .sound-status {
    font-size: 16px;
    cursor: pointer;
    .active {
      font-weight: bold;
    }
  }

  .theme-status {
    font-size: 16px;
    cursor: pointer;
  }
}

.profile__subtitle {
  font-family: Acrom, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.015em;
  margin-bottom: 20px;
}

.sound-active {
  .main-container {
    .sound-on {
      font-weight: bold !important;
  }
  }

}

.sound-deactive {
  .main-container {
    .sound-off {
      font-weight: bold !important;
  }
  }
}
