.main-container_dark {
  background: linear-gradient(179.79deg, #9473DA -1.13%, #1B1033 99.82%);

  .game-title {
    color: #F9F9F9;
  }

  .game-status__title {
    color: #F9F9F9;
  }

  .game-status__state {
    color: #f9f9f9;
  }
}

