h1, h2, h3, h4, h5, h6 {
  font-family: Acrom, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 160%;
  color: #353535;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 20px;
}

h3, h4, h5, h6 {
  font-size: 16px;
}
