.header {
  position: relative;
  z-index: 15;
}

.main {
  z-index: 2;
  position: relative;
  transition: all .5s ease-in-out;
  @media (max-width: 500px) {
    position: static;
  }
}

.footer {
  z-index: 2;
}
