$color-white: #FFF;
$color-white-1: #F9F9F9;
$color-white-2: #FDFDFD;
$color-beige: #FFBD59;
$color-pink-grey: #B9ACB2;
$color-pink-light: #EB6AA4;
$color-pink: #BF2F71;
$color-pink-dark: #A1285F;
$color-violet-light: #9473DA;
$color-violet-dark: #472B83;
$color-violet-black: #2A1851;
$color-cobalt: #1B1033;
$color-grey-white: #D4D4D4;
$color-grey-light: #888;
$color-grey-middle: #5A5A5A;
$color-grey: #333;
$color-grey-1: rgba(133, 131, 131, 0.2);
$color-black: #000;
